__pycache__/algoritmo_bt.cpython-313.pyc
__pycache__/aproximador_pakku.cpython-313.pyc
__pycache__/z.cpython-313.pyc
__pycache__/nuevo_tester.cpython-313-pytest-9.0.1.pyc
__pycache__/tests_catedra.cpython-313-pytest-9.0.1.pyc
algoritmos/__pycache__/algoritmo_bt.cpython-313.pyc
algoritmos/__pycache__/aproximador_pakku.cpython-313.pyc
__pycache__/parser.cpython-313.pyc
algoritmos/__pycache__/simulated_annealing.cpython-313.pyc
__pycache__/util.cpython-313.pyc
__pycache__/test_catedra.cpython-313-pytest-9.0.1.pyc
algoritmos/__pycache__/algortimo_pl.cpython-313.pyc
